<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Classifier</title>
    <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
    <h1>Genre Classifier Demo</h1>
    <form method="post" action="{{ url_for('predict') }}" id="classification_form">
        <label for="Description">Description:</label>
        <br/>
        <textarea name="Description" id="Description">{{text}}</textarea>
        <br/>
        <label for="Classifier">Select Classifier</label>
        <br/>
        <select id="Classifier" name="Classifier">
            <option value="svc">Support Vector</option>
            <option value="lgb">LGBM</option>
            <option value="lstm">LSTM</option>
        </select>
        <br/>
        <input type="submit" value="Submit"/>
        <input type="reset"  value="RESET" style="color: red;"/>
    </form>
    {% if prediction_success == True %}
        <br/>
        <p>Prediction: {{result}}</p>
    {% endif %}
    {% if prediction_success == False %}
        <br/>
        <p>{{error}}</p>
    {% endif %}
</body>
</html>